<h3 style="background-color: #1a4a72; text-align: center; color: white">
  Change Password
</h3>
<div class="full_body">
  <div class="container-fluid">
    <div class="row mt-5">
      <div class="col-md-4"></div>

      <div class="col-md-4">


        <div>
          <form [formGroup] = "cpForm" (ngSubmit) = "onSubmit()">

            <div class="formGroup pb-5">
              <input type="password" class="form-control" placeholder="Current password" formControlName = "cur_pass">
            </div>
            <div class="formGroup pb-5">
              <input type="password" class="form-control" placeholder="New password" formControlName = "new_pass">
            </div>

            <div class="formGroup pb-5">
              <input type="password" class="form-control" placeholder="Retype New password" formControlName = "retype_pass">
            </div>


            <button [disabled] = "isEmpty()" class="btn btn-secondary btn-lg btn-block" type="submit"> Change Password </button>
          </form>


        </div>

      </div>
    </div>
  </div>
</div>
