<h3 style="background-color: #1a4a72; text-align: center; color: white">
  Delete Account
</h3>

<!--<div *ngFor="let value of staffInfo">
  <p>Access Level: {{ value.access_Level }}</p>
  <p>Email: {{ value.email }}</p>
  <p>Password: {{ value.password }}</p>
  <a>
    <button class="ml-2 btn btn-primary" (click)="deleteAccount(value.staffId)">
        Delete
    </button>
  </a> 
</div>-->
<table>
<tr *ngFor="let value of staffInfo">
  <td>Access Level: {{ value.access_Level }}</td>
  <td>Email: {{ value.email }}</td>
  <td>Password: {{ value.password }}</td>
  <td><a>
    <button class="ml-2 btn btn-primary" (click)="deleteAccount(value.staffId)">
        Delete
    </button>
  </a> <td>
</tr>
</table>